*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    width: 100%;
    height: 100vh;
    background: darkslategrey;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none; /*to prevent a double creating  */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px aqua;
    display: none;
}
.showSpan{
    display: block;
}