*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(108, 255, 108);
}
h1{
    color: rgb(0, 50, 0);
}