*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    overflow-x: hidden;
}
.main{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background: royalblue;
    color: white;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: .5s;
    transition-delay: .2s;
}

.container:nth-child(n+4) {
    transform: translateX(200%);
}

.container:nth-child(n+4):nth-child(even){
    transform: translateX(-200%);
}

.container:nth-child(n).show{
    transform: translateX(0);
}